<!-- footer -->

      <footer class="footer">
          <div class="services">
              <div class="wrapper">
                  <div class="services__item serv-box">
                      <div class="serv-box__icon">
                          <i class="serv-i-1"></i>
                      </div>
                      <div class="serv-box__desc">
                          <p class="serv-box__title">Free Delivery</p>
                          <p>
                              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                          </p>
                      </div>
                  </div>
                  <div class="services__item serv-box">
                      <div class="serv-box__icon">
                          <i class="serv-i-2"></i>
                      </div>
                      <div class="serv-box__desc">
                          <p class="serv-box__title">easy Returns</p>
                          <p>
                              Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                          </p>
                      </div>
                  </div>

                  <div class="services__item serv-box">
                      <div class="serv-box__icon">
                          <i class="serv-i-3"></i>
                      </div>
                      <div class="serv-box__desc">
                          <p class="serv-box__title">wide choice</p>
                          <p>
                              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                              doloremque laudantium, totam rem
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="footer__bottom">
              <div class="wrapper">
                  <div class="footer__cpy">
                      <p>
                          © 2016 <a href="javascript: void(0);">Test Theme</a> <br>
                          Made with love
                      </p>
                  </div>

                  <div class="footer__nav">
                      <div class="footer-nav__item">
                          <p class="footer-nav__title">Categories</p>
                          <div class="list-footer">
                              <ul class="footer-list">
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Accessories</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Alcohol</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Art</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Books</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Drink</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Electronics</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Flowers & Plants</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Food</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Gadgets</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Garden</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Grocery</a>
                                  </li>
                              </ul>
                              <ul class="footer-list">
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Home</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Jewelry</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Kids & Baby</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Men's Fashion</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Mobile</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Motorcycles</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Movies</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Music</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Office</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Pets</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Romantic</a>
                                  </li>
                              </ul>
                              <ul class="footer-list">
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Sport</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Toys</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Travel</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Women's Fashion</a>
                                  </li>
                              </ul>
                          </div>

                      </div>
                      <div class="footer-nav__item">
                          <p class="footer-nav__title">About</p>
                          <div class="list-footer">
                              <ul class="footer-list">
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">About us</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Delivery</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Testimonials</a>
                                  </li>
                                  <li class="footer-list__item">
                                      <a class="footer-list__link" href="javascript: void(0);">Contact</a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="footer__share">
                      <div class="share">
                          <a class="share-icon-1" href="javascript: void(0);"></a>
                          <a class="share-icon-2" href="javascript: void(0);"></a>
                          <a class="share-icon-3" href="javascript: void(0);"></a>
                          <a class="share-icon-4" href="javascript: void(0);"></a>
                      </div>
                  </div>
              </div>
          </div>
      </footer>


  <script src="js/jquery.min.js"></script>
  <script src="js/script.js"></script>

</body>
</html>
