<!doctype html>

<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>INDEX</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <!--style loader-->
    <style>
        .loader-box {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background-color: #fff;
            z-index: 999999;
        }
        .loader {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -32px 0 0 -32px;
            fill: #816fca;
        }
    </style><!-- end style loader -->

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Slab:300,400,700|Roboto:300,300i,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/style.css">


</head>

<body>

<!-- window loader -->
<div class="loader-box">
    <img class="loader" src="images/loading.svg" alt="loader">
</div><!-- END window loader -->


<header class="header">
    <div class="wrapper">
        <div class="header__logo">
            <a class="logo" href="javascript: void(0);">TEST theme</a>
        </div>
        <div class="header__menu">
            <div id="nav-icon1" class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="menu">
                <li class="menu__item">
                    <a id="page1" class="menu__link triangle" href="menu.html">Categories</a>
                    <div class="menu-down"></div>
                </li>
                <li class="menu__item">
                    <a id="page2" class="menu__link" href="menu.html">About</a>
                </li>
                <li class="menu__item">
                    <a id="page3" class="menu__link" href="menu.html">Contact</a>
                </li>
            </ul>
        </div>
        <div class="header__langu-cur">
            <div class="langu-cur">
                <div class="langu-cur__title triangle">EN</div>
            </div>
            <div class="langu-cur">
                <div class="langu-cur__title triangle">$ US</div>
            </div>
        </div>
        <div class="header__nav">
            <nav class="navs">
                <a class="icon-cur-1" href="javascript: void(0);"></a>
                <a class="icon-cur-2" href="javascript: void(0);"></a>
                <a class="icon-cur-3" href="javascript: void(0);">
                    <span class="icon-cur-5">1</span>
                </a>
                <a class="icon-cur-4" href="javascript: void(0);">
                    <span class="icon-cur-5">2</span>
                </a>
            </nav>
        </div>
    </div>
</header>

